@font-face {
    font-family: "allura";
    src: url(../font/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(../font/Poppins-Regular.ttf);
}

/* /////////////////Reset CSS//////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
    line-height: 1.6;
    background-color: rgb(19, 18, 18);
}

.allura-police {
    font-family: "allura";
}

.poppins-police {
    font-family: "poppins";
}

.saut {
    text-align: center;
    color: #d4a373;
}
/* ////////////////////Header Styles/////////////////////// */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/assets/img/bg-slider-06.jpg) no-repeat center center/cover;
}

/* ////////////////////Navigation Bar///////////////////// */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links a:hover {
    color: #f4c285;
}

nav .logo h1 {

    font-size: 2rem;
    color: #fff;
}

nav .nav-links {
    display: flex;
    list-style: none;
}

nav .nav-links li {
    margin: 0 15px;
}

nav .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav .social-links a {
    color: #fff;
    margin-left: 10px;
    font-size: 1.2rem;
}

.fa-solid fa-bars {
    color: white;
}

.saut {
    display: block;
}

.blanc {
    color: white;
}

/* ///////////////////////////Hero Section/////////////////////// */

.hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1b1a1a5d;
}

.hero-content {
    color: #fff;
}

.hero h2 {
    font-size: 3rem;
    color: #d4a373;
    font-family: "allura";
}

.hero h1 {
    
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
}

/* <------fin du header------>*/

/* ////////////Premiere partie du main avec Stephens/////////*/

.container {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 50%;
    text-align: center;
}

h2 {
    font-size: 36px;
    color: #333;
    color: #f09d51;
}
.discover {
    text-align: center;
}

h2 span {
    color: white;
}

.img-couvert {
    height: 30px;
    width: 30px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.chef-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.chef-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.chef-details h3 {
    font-size: 18px;
    color: #333;
}

.chef-details p {
    color: #999;
    font-size: 12px;
}

.chef h3{
    font-size: 18px;
}

.chef h4 {
    font-size: 10px;
    margin-bottom: 50px;
}
.image {
    width: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* /////////fin du main stephens + img///////////////////////////////// */

 
.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}


/* /////////////deuxieme partie <---le Menu-->///////////////////////// */
.couvert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding-left: 17rem;
    padding-right: 11rem;
    background-color: #fff;
    margin-left: 90px;
    margin-right: 90px;
}

.menu-tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(63, 60, 60);
    padding: 10px 0; 
    position: relative;
}

.menu-tabs li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    font-family: 'Georgia', serif;
    position: relative;
}

.menu-tabs li a.active {
    color: #f09d51;
    border-bottom: 3px solid #f09d51;
    position: relative;
}

.menu-list {
    margin-top: 0px;
    position: relative;
    background-color: #fff;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    position: relative;
}

.menu-left, .menu-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-left img, .menu-right img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.menu-details {
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu-details h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    position: relative;
    width: 14rem;
}

.menu-details p {
    font-size: 14px;
    color: #999;
    position: relative;
}

.price {
    margin-right: 50px;
    font-size: 18px;
    color: #f09d51;
    position: relative;
}

.bg-img1 {
    margin-top: 50px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

/* <----------Partie reservation du restaux------------>*/


.blocr {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    padding-top: 250px;
    color: white;
}

.font-noir-time {
    background-color: black;
}

.time-open {
    margin: 10px;
    background-color: #000000;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 30px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.titre {
    font-family: 'Georgia', serif; 
    font-size: 24px;
    color: #f09d51;
    margin-bottom: 10px;
}

.titre span {
    font-size: 36px;
    font-weight: 400;
}

.titre img {
    width: 40px;
    margin: 15px 0;
}

h4 {
    font-size: 18px;
    color: #f09d51;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
}

.num {
    color: #f09d51;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}




@media (max-width: 768px) {
    .time-open {
        width: 100%;
        padding: 20px;
    }
}

/* ///////////////////Bloc des reservation droite ///////////////// */

/* Container for the reservation section */
.reservation-container {
    background-color: #f9f9f9; 
    padding: 40px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.reservation-container h3 {
    font-size: 26px;
    color: black;
    margin-bottom: 20px;
}

.reservation-container h3 span {
    font-size: 36px;
    color: #f09d51;
}

.reservation-form {
    margin-top: 30px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group input {
    width: 30%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background-color: transparent;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f09d51; /* Button hover effect */
}
/* ////////////////////section gallery titre///////////////////// */
.gallery-titre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ////////////////////section gallery photo///////////////////// */

.gallery-container {
    padding: 40px;
    background-color: #1a1a1a;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-gallery-btn {
    margin-top: 30px;
}

.view-gallery-btn a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.view-gallery-btn a:hover {
    background-color: #f09d51;
}

/* /////////////////////Partie our envent ///////////////// */

.fondgris h4 {
    color: black;
}

#event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#event h2 {
    padding-top: 5rem;
    color: white;
}
#event img {
    margin: 2rem 0;
}
.cardcolumn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
#event .fondblanc {
    background-color: white;
    display: flex;
    flex-direction: column;
}
#event .fondblanc div {
    display: flex;
}
.cardevent {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-right: 2rem;
    width: 100%;
}
.height50 {
    height: 46.5%;
}
.height100 {
    height: 100%;
}
.eventimg1 {
    background-image: url(../img/event-01.jpg);
    background-size: cover;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventimg2 {
    background-image: url(../img/event-02.jpg);
    background-size: cover;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventimg3 {
    background-image: url(../img/event-03.jpg);
    background-size: cover;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#event .fondblanc p {
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    color: #A9A69E;
}
#event .eventimg1 .fondgris, #event .eventimg2 .fondgris {
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#event .fondblanc {
    padding: 2rem 1rem;
}
#event .fondblanc h4 {
    font-size: 28px;
    font-weight: 400;
}
#event .fondblanc a {
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 16px;
}
#event .eventimg3 .fondblanc{
    display: flex;
    justify-content: center;
    align-items: center;
}

#event .eventimg3 .fondblanc {
    padding: 0 1rem 2rem 1rem;
    background-color: white;
}
#event .eventimg3 .fondgris {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
}
#event .eventimg3 .fondgris p {
    color: white;
    padding: 0;
}
#event .eventimg3 h4 {
    text-align: center;
}
#event .eventimg3 a {
    margin-bottom: 2rem;
}

#event .eventimg3 a:hover {
    color: #e0a85f;
}

/* //////////////section bio du cheff askip//////////////// */

.chef {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 5%;
    margin-left: 250px;
    margin-right: 250px;
}

.chef .tete {
    height: 60px;
    width: 60px;
}

/* //////////////section maps//////////////// */

iframe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35rem;
}

/* //////////////partie footer ////////////////// */

.footer {
    background-image: url(/assets/img/bg-footer.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #f4f4f4;
    padding: 50px 20px;
    box-sizing: border-box;
}

/* Conteneur pour le contenu dans le footer */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partie gauche avec le texte */
.footer-left {
    max-width: 600px;
}

.footer-left h2 {
    font-size: 36px;
    color: #f4c285;
    margin: 0;
}

.footer-left p {
    margin: 10px 0 0;
    color: white;
    font-family: "poppins";
}

.footer-right {
    text-align: right;
}

.footer-right input[type="email"] {
    padding: 10px;
    width: 250px;
    border: none;
    outline: none;
    background-color: #333;
    color: #f4f4f4;
}

.footer-right input[type="email"]::placeholder {
    color: #aaa;
}

.footer-right button {
    padding: 10px 20px;
    background-color: #f4c285; /* Ajuste cette couleur pour correspondre à la flèche */
    border: none;
    cursor: pointer;
}

.footer-right button:hover {
    background-color: #e0a85f;
}

.footer-right .social-icons {
    margin-top: 20px;
}

.footer-right .social-icons a {
    color: #f4f4f4;
    margin: 0 10px;
    text-decoration: none;
}

.footer-right .social-icons a:hover {
    color: #f4c285;
}

@media screen and (max-width: 1920px) and (min-width: 1024px) {
    .container {
        flex-direction: row;
        padding: 40px;
    }

    .hero h1 {
        font-size: 3.5rem;
    }

    .nav-links li {
        margin: 0 20px;
    }

}
@media screen and (max-width: 1920px) and (min-width: 300px) {

    

    .menu-container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding: 0;
    }


    .menu-container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .menu-tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        
    }

    .menu-left img, .menu-right img {
        width: 40px;
        height: 40px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        object-fit: cover;    
    }

    .image {
        display: none;
    }

    .blocr {
        padding: 0%;
    }
}

@media screen and (max-width: 859px) {
    .chef {
        margin: 0%;
    }

@media screen and (max-width: 768px) {
        nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content {
        padding-top: 0px;
    }

    .hero {
        background: none;
        height: 50px;
    }

    .nav-links {
        display: none;
    }

    .container, .menu-item {
        flex-direction: column;
        align-items: center;
    }

    .menu-item img {
        width: 100%;
    }

    .blocr {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        
    }

    .reservation-container {
        width: 100%;
    }

    .reservation-form input, .reservation-form button {
        width: 100%;
        margin-bottom: 10px;
    }

    .menu-tabs {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu-tabs li {
        margin-bottom: 10px;
    }

    .price {
        font-size: 16px;
        margin-right: 0;
    }

}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    .menu-container, .gallery-container, .reservation-container {
        padding: 10px;
    }

    .menu-tabs {
        font-size: 12px;
    }

    .menu-item {
        padding-bottom: 5px;
    }

    .menu-left img, .menu-right img {
        width: 35px;
        height: 35px;
    }

    .price {
        font-size: 14px;
        margin-right: 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-right {
        max-width: 100%;
        margin: 10px 0;
    }

    .social-icons a {
        margin: 5px;
    }

    .blocr {
        width: 100%;
        margin: 0;
    }

    .time-open {
        width: 100%;
    }
}